*{
    padding:0;
    margin:0;
    font-family:monospace;
}

#gameContainer{
    margin:auto;
    width:100%;
    height:100vh;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
   
}
h1,h2{
    margin-bottom:10px;
    margin-top:10px;
    font-size:30px;
}
#cell{
    height:75px;
    width:75px;
    border:2px solid black;
    box-shadow: 0 0 0 2px;
    font-size:50px;
    cursor:pointer;
}
#cellContainer{
    width:225px;
    display:grid;
    grid-template-columns: repeat(3,auto);
}
h2{
    margin-bottom:20px;

}

button{
    cursor:pointer;
}

#restartBtn {
    height: 50px;
    width: 180px;
    position: relative;
    color: black;
    border: 2px solid #f44336;
    background: transparent;
    /* border-radius: 50px; */
    overflow: hidden;
    cursor: pointer;

}

#restartBtn:before {
    content: "";
    width: 0%;
    height: 100%;
    transition: all ease .8s;
    position: absolute;
    right: 0;
    top: 0;
    background: #f44336;
    z-index: -1;
}

#restartBtn:hover:before {
    width: 100%;



}